---
title: "Mind over Matter"
layout: default
permalink: "/mind-over-matter.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}}</h2>

                <p class="excerpt"><i>"How to think clearly and effectively? What are the role of mental models in making sense of our complex surroundings? Why are some people able to do things effortlessly while others struggle?" </i></p>
                <p class="excerpt">These are some of the questions that I often ask myself. And I am endlessly fascinated by the human mind, the way it works, it's potential, and all the troubles it leads us to. Please join me in the journey to explore the gift we all have.</p>
            </div>

        </div>
        <h4 class="font-weight-bold spanborder"><span>Articles</span></h4>
            {% assign posts = site.posts | where:"categories","mind over matter" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>