---
title: "Technology"
layout: default
permalink: "/tech.html"
intro: Endless possibilities.
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}}</h2>

                <p class="excerpt">{{ page.intro }}</p>
            </div>

        </div>
        <h4 class="font-weight-bold spanborder"><span>Articles</span></h4>
            {% assign posts = site.posts | where:"categories","tech" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>