version: '3'
services:
  jekyll:
    image: jekyll/jekyll:latest
    platform: linux/amd64
    command: sh -c "bundle install && bundle exec jekyll serve --force_polling --host 0.0.0.0"
    ports:
        - 4000:4000
    volumes:
        - .:/srv/jekyll