---
layout: default
---
<div class="container">
<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
<div class="row">
    <div class="col-md-8">
    {% if page.image %} 
    <img class="card-img-top mb-5 shadow-lg" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}"> 
    {% endif %} 
    <div class="page-content">
        {{ content }}
        <!-- Comments -->
        {% if page.comments == true %}
        {% include comments.html %}
        {% endif %}
    </div>
    <br>
    <br>
    <hr>
    <h6 style="font-size: .9rem;">Fine prints</h6>
    <ul style="font-size: .9rem;">
        <li> As mentioned above and elsewhere, all the content here are my personal opinions. </li>
        <li> As an Amazon associate I earn from qualifying purchases. Some of the links (such as those of Books, gear etc.) link to Amazon products, which is what I used to buy them anyway.</li>
    </ul>
    </div>
    <div class="col-md-4">
        {% include sidebar.html %}
    </div>
</div>  
</div>